/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  background-color: $bg-color;
  color: $hover-color;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-proximanova;
  font-weight: 100;
  padding: 0;
  margin: 0 auto;

  line-height: 1.5;
  box-sizing: border-box;
  // Better text rendering
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.bg-light {
  background-color: $light-color;
}

.footer {
  padding: 1rem;
}