.comment {
  
}

.comment-content {
  background-color: $light-color;
  position: relative;

  &:before {
    background: $light-color;
    content: '';
    height: 20px;
    position: absolute;
    width: 20px;
    top: -6px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
  }
}


