.card {
  position: relative;
  // border: 3px yellow solid;
  box-shadow: 1px 1px 1px $main-color;
  overflow: hidden;

  .image {
    position: absolute;

    img {
        width: 100%;
        // border-radius: .3rem .3rem 0 0;
      }
  }

  .info {
    position: absolute;
    // border: 3px yellow solid;
    opacity: 0.8;
    transition-duration: .2s;

    .info-title {
      height: 36px;
      background-color: #fefefe;
      transition-duration: .2s;
    }

    .caption {
      background-color: #fefefe;
      height: 36px;
      transition-duration: .2s;
    }

    &:hover {
      opacity: 1;

      .info-title {
        height: 40px;
      }

      .caption {
        height: 40px;
      }
    }
  }

}

.likeable{
  width: 32%;

  @media screen and (max-width: $tablet) {
    width: 55%;
    font-size: 10px;
  }
}